## Q.1 Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
import selenium
import pandas as pd
from selenium import webdriver

driver=webdriver.Chrome()
driver.get('https://www.naukri.com/')

search_jobs=driver.find_element_by_id('qsb-keyword-sugg')
search_jobs.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
driver.get(url)

job_titles=[]
company_name=[]
location_list=[]
experience_list=[]

titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    title=i.text
    job_titles.append(title)
    
job_titles[:4]

companies_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies_tags:
    companies=i.text
    company_name.append(companies)
    
company_name[:4]

location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[:4]

experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
    
experience_list[:4]

jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Companies']=company_name
jobs['Experience']=experience_list
jobs['Location']=location_list

jobs[:4]

,Title,Companies,Experience,Location
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,1-4 Yrs,Bengaluru
1,Data Analyst - SAP,Boston Scientific Corporation,3-5 Yrs,"Pune, Delhi, Bengaluru, Gurgaon"
2,Senior Data Analyst,Schneider Electric,2-5 Yrs,Bengaluru / Bangalore
3,Security Data Analyst,Philips India Limited,2-4 Yrs,Bengaluru

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [1]:
#importing Libraries
import pandas as pd
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests


# Function Definition
def naukri(url):
    driver=webdriver.Chrome()
    urls = []
    title=[]
    exp=[]
    description=[]
    company_name=[]
    driver.get(url)
    soup= BeautifulSoup(driver.page_source, 'html.parser')
    prod_urls = soup.find_all('a', attrs ={'class':'title fw500 ellipsis'})
    for prod in prod_urls:
        urls.append(prod.get('href'))
    
    #loop to scrap required details
    for url in urls:
        driver.get(url)
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        n = soup.find('h1',attrs={'class':'jd-header-title'})
        if n is not None:
            title.append(n.text.replace('\n',''))
        else:
            title.append('-')
        cmp = soup.find('a', attrs = {'class':'pad-rt-8'})
        if cmp is not None:
            company_name.append(cmp.text)
        else:
            company_name.append('-')
        ex = soup.find('div', attrs = {'class':'exp'})
        if ex is not None:
            exp.append(ex.span.text)
        else:
            exp.append('-')
            
        des = soup.find('div', attrs = {'class':'dang-inner-html'})
        if des is not None:
            description.append(des.text)
        else:
            description.append('-')
            
    mob_df = df=pd.DataFrame({'Title':title,
                              'Experience':exp,
                              'Company':company_name,
                              'Description':description})
    print(mob_df[:10])
    
    
# Calling Function
naukri('https://www.naukri.com/data-scientist-jobs-in-noida?k=data%20scientist&l=noida')

                                               Title   Experience  \
0                           Adv Data Scientist - CSP  2 - 5 years
1  Only Fresher / Data Scientist /  Data Analyst ...      0 years
2                     Data Scientist (Python|Hadoop)  3 - 5 years
3  Data Scientist - SAAS Group ( B2B) - Work From...  5 - 9 years
4  Data Scientist - SAAS Group (B2B) - Work From ...  5 - 9 years
5                                     Data Scientist  3 - 6 years
6                                     Data Scientist  4 - 9 years
7           Data Scientist - Python/Machine Learning  5 - 8 years
8         Machine Learning Engineer / Data Scientist  3 - 7 years
9          Machine Learning Engineer/ Data Scientist  3 - 6 years

                           Company  \
0                      MatrikonOPC
1       GABA Consultancy services
2                            Jubna
3                     Expro Search
4  Vital Bridge Consulting Pvt Ltd
5  Bigshyft Hiring for PayMe India
6          Mailkit Private Limited
7                            Jubna
8                       Durr India
9                          D rr AG

                                         Description
0     As a Sr. Data Engineer, you will be part of...
1  Only Fresher Can Apply:Description1>MS Office ...
2  Roles and Responsibilities• Take ownership of ...
3  Roles and ResponsibilitiesResearch and develop...
4  Roles and Responsibilities  Research and devel...
5  What You'll Do :Design data modeling processes...
6  Mailkit is an European Marketing Automation co...
7  Roles and ResponsibilitiesAs a Data Scientist,...
8       Your Tasks      Validate requirements, ex...
9   Your Tasks     Validate requirements, execute...

## Q.3: In this question you have to scrape data using the filters available on naukri.com

In [13]:
import selenium
import pandas as pd
from selenium import webdriver

driver=webdriver.Chrome()
driver.get('https://www.naukri.com/')

search_jobs=driver.find_element_by_id('qsb-keyword-sugg')
search_jobs.send_keys("Data Scientist")

search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

driver.implicitly_wait(10)

#clicking intel delhi/ncr filter
search_btn = driver.find_element_by_xpath("//*[text() ='Delhi/NCR']")
search_btn.click()

#clicking intel 3-6 Lakhs filter
search_btn2 = driver.find_element_by_xpath("//*[text() ='3-6 Lakhs']")
search_btn2.click()

In [14]:

job_titles=[]
company_name=[]
location_list=[]
experience_list=[]

titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    title=i.text
    job_titles.append(title)
    
job_titles[:4]

companies_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies_tags:
    companies=i.text
    company_name.append(companies)
    
company_name[:4]

location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[:4]

experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
    
experience_list[:4]

jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Companies']=company_name
jobs['Experience']=experience_list
jobs['Location']=location_list

jobs[:4]

,Title,Companies,Experience,Location
0,Data Scientist,Country Veggie,1-3 Yrs,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be..."
1,Data Scientist,IBM India Pvt. Limited,4-8 Yrs,Gurgaon Gurugram
2,Senior Data Scientist - NLP,IRIS SOFTWARE Inc,4-9 Yrs,Delhi NCR
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Delhi NCR, Noida, Gurgaon"

## Q.4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location.

In [15]:
import selenium
import pandas as pd
from selenium import webdriver

driver=webdriver.Chrome()
driver.get('https://www.glassdoor.co.in/index.htm')

In [17]:
search_jobs=driver.find_element_by_id('sc.keyword')
search_jobs.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='sc.location']")
search_loc.send_keys("Noida")
search_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [19]:
job_titles=[]
company_name=[]
location_list=[]
days_ago_list=[]
rating=[]

titles_tags=driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']/span")

for i in titles_tags:
    title=i.text
    job_titles.append(title)
    
job_titles[:4]

companies_tags=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]/a/span')
for i in companies_tags:
    companies=i.text
    company_name.append(companies)
    
company_name[:4]

location_tags=driver.find_elements_by_xpath('//span[@class="pr-xxsm css-1ndif2q e1rrn5ka0"]')
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[:4]

days_ago_tags=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
for i in days_ago_tags:
    days_ago=i.text
    days_ago_list.append(days_ago)
    
rating_tag = driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
for i in rating_tag:
    if i.text == '':
        rating.append("unknown")
        
    else:
        name3=i.text
        rating.append(name3)


jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Companies']=company_name
jobs['Location']=location_list
jobs['Days Ago']=days_ago_list
jobs['Ratings']=rating

jobs[:10]

,Title,Companies,Location,Days Ago,Ratings
0,Data Analyst/ Scientist,ANI Calls India Private Limited,Noida,30d+,unknown
1,Data Analyst – Fresher – Data Scientist – Grad...,Structured Learning Assistance Consultants Ind...,Delhi,30d+,unknown
2,Data Scientist,Biz2Credit Inc,Noida,30d+,3.7
3,Data Analyst / Fresher / Data Scientist / Grad...,Structured Learning Assistance Consultants Ind...,Delhi,30d+,unknown
4,,Emerging India Group,Noida,30d+,unknown
5,Data Scientist,Adobe,Noida,7d,4.4
6,Data Scientist,WishFin,Noida,17d,4.0
7,Principal Data Scientist,Kronos Incorporated,Noida,5d,4.3
8,Data Scientist Intern,Salasar New Age Technologies,Noida,30d+,unknown
9,Data Scientist/Analyst,Singh RanjayKumar(Proprietor Of Zee India Co),Noida,2d,unknown

## Q.5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [23]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [24]:
#finding job bt different element
search_job = driver.find_element_by_id('KeywordSearch')
search_job.send_keys('Data Scientist')
search_loc =  driver.find_element_by_id('LocationSearch')
search_loc.send_keys('noida')

#clicking Search button
search_btn = driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [26]:
#Making empty list of all the data we need
number=[]
avg=[]
company_name=[]
min_sa=[]
max_sa=[]

#extracting required element
company_tag = driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")
number_tag = driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[5]")
avg_tag = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
min_tag = driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']")
max_tag = driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']")


#exctacting titles
for i in company_tag:
    name1=i.text
    company_name.append(name1)
    
#extracting number of salaries
for j in number_tag:
    name2=j.text
    number.append(name2)
    
#extracting Average salary
for k in avg_tag:
    name3=k.text
    avg.append(name3)    
    
#extracting minimum salary
for l in min_tag:
    name4=l.text.split()[0]
    min_sa.append(name4)
    
#extracting maximum salary
for m in min_tag:
    name5=m.text.split()[1]
    max_sa.append(name5)
    
#making dataframe
companies = pd.DataFrame({'Name':company_name,'Number Salary':number,'Average':avg,'Minimum':min_sa,'Maximum':max_sa}).head(10)
companies

                             Name Number Salary      Average Minimum   Maximum
0                       Delhivery   13 salaries  ₹ 12,64,182   ₹450K  ₹11,630K
1              Ericsson-Worldwide   12 salaries   ₹ 7,30,968   ₹350K   ₹1,614K
2       Tata Consultancy Services   11 salaries   ₹ 6,00,000   ₹336K   ₹1,010K
3                       Accenture   10 salaries   ₹ 9,94,055   ₹577K   ₹2,215K
4                             IBM   10 salaries   ₹ 7,39,040   ₹587K   ₹2,732K
5              UnitedHealth Group    9 salaries  ₹ 13,37,114   ₹717K   ₹1,575K
6              Valiance Solutions    8 salaries   ₹ 7,80,374   ₹502K   ₹1,152K
7                      Innovaccer    7 salaries  ₹ 11,98,792   ₹621K   ₹1,696K
8  Cognizant Technology Solutions    6 salaries  ₹ 10,08,143   ₹793K   ₹1,264K
9                     EXL Service    6 salaries  ₹ 11,34,989   ₹576K   ₹1,500K

## Q.6: Scrape data of first 100 sunglasses listings on flipkart.com

In [29]:
import selenium
import pandas as pd
from selenium import webdriver
import numpy as np
import time

driver=webdriver.Chrome()
driver.get('https://www.flipkart.com')

In [34]:
#finding job bt different element
search_job = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_job.send_keys('sunglasses')

#clicking Search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [36]:

brands_list=[]
desc_list=[]
price_list=[]
disc_list=[]

num = np.arange(1,4)
for page in num:
    #extracting required element
    brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    desc = driver.find_elements_by_xpath("//*[@class='IRpwTa' or @class='IRpwTa _2-ICcC' ]")
    prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    off_tag =  driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

    for i in brands:
        brand=i.text
        brands_list.append(brand)
    for i in desc:
        descs=i.text
        desc_list.append(descs)
    
    for i in prices:
        price=i.text
        price_list.append(price)
    
    
    #extracting discount
    for l in off_tag:
        if off_tag is not None:
            name4=l.text
            disc_list.append(name4)
        else:
            disc_list.append("unknown")
        
    print(page)
    driver.find_element_by_xpath("//*[text()='Next']").click()
    time.sleep(5)
    
sunglasses=pd.DataFrame({})
sunglasses['Brand']=brands_list
sunglasses['Description']=desc_list
sunglasses['Price']=price_list
sunglasses['Discount']=disc_list
sunglasses

1
2
3

,Brand,Description,Price,Discount
0,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹399,72% off
1,PIRASO,UV Protection Aviator Sunglasses (58),₹349,86% off
2,EYELLUSION,"Night Vision, Polarized, UV Protection, Riding...",₹344,85% off
3,Royal Son,Mirrored Wayfarer Sunglasses (Free Size),₹299,80% off
4,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹830,7% off
...,...,...,...,...
115,Tazzx,UV Protection Round Sunglasses (55),₹251,87% off
116,like future,UV Protection Round Sunglasses (Free Size),₹298,75% off
117,Tazzx,UV Protection Round Sunglasses (55),₹159,84% off
118,funglasses,"UV Protection, Polarized Retro Square Sunglass...",₹149,85% off
119,shah collections,UV Protection Round Sunglasses (Free Size),₹198,84% off

## Q.7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [56]:
import selenium
import pandas as pd
from selenium import webdriver
import numpy as np
import time

driver=webdriver.Chrome()
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART')
# clicking see all review  button
# all_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
# all_btn.click()

ratings_list=[]
desc_list=[]
lng_des_list=[]
num = np.arange(1,5)
for page in num:
    ratings = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    desc=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    lng_des=driver.find_elements_by_xpath("//div[@class='""']")

    for i in ratings:
        rating=i.text
        ratings_list.append(rating)
    
    for i in desc:
        descs=i.text
        desc_list.append(descs)
    
    for i in lng_des:
        lng_desc=i.text
        lng_des_list.append(lng_desc)
    print(page)
    time.sleep(5)
    driver.find_element_by_xpath("//*[text()='Next']").click()
    time.sleep(5)

1
2
3
4

In [57]:
num1 = np.arange(5,13)
for page in num1:
    ratings = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    desc=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    lng_des=driver.find_elements_by_xpath("//div[@class='""']")

    for i in ratings:
        rating=i.text
        ratings_list.append(rating)
    
    for i in desc:
        descs=i.text
        desc_list.append(descs)
    
    for i in lng_des:
        lng_desc=i.text
        lng_des_list.append(lng_desc)
    print(page)
    time.sleep(5)
    driver.find_element_by_xpath("//*[text()='Next']").click()
    time.sleep(5)

5
6
7
8
9
10
11
12

In [63]:
reviews=pd.DataFrame({})
reviews['Rating']=ratings_list[:117]
reviews['Short Description']=desc_list[:117]
reviews['Long Description']=lng_des_list[:117]

reviews.head(100)

,Rating,Short Description,Long Description
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,3,Perfect product!,"Battery backup is extraordinary, camera is dec..."
96,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
97,5,Decent product,Everything u ll like it when u use this iPhone...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,4,Excellent,Value for money product. This iphone 11 is rea...

## Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [113]:
import selenium
import pandas as pd
from selenium import webdriver
import numpy as np
import time

driver=webdriver.Chrome()
driver.get('https://www.flipkart.com')

In [114]:
#finding job bt different element
search_job = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_job.send_keys('sneakers')

#clicking Search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

#Making empty list of all the data we need
brand=[]
dec=[]
disc=[]
price=[]

num = np.arange(1,4)
for page in num:
    #extracting required element
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    desc_tag = driver.find_elements_by_xpath("//*[@class='IRpwTa' or @class='IRpwTa _2-ICcC' ]")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    off_tag =  driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")


    #exctacting brand
    for i in brand_tag:
        name1=i.text
        brand.append(name1)
    
    #extracting description
    for k in desc_tag:
        name3=k.text
        dec.append(name3)
    #extracting price
    for k in price_tag:
        name3=k.text
        price.append(name3)    
    
    #extracting discount
    for l in off_tag:
        if off_tag is not None:
            name4=l.text
            disc.append(name4)
        else:
            disc.append("unknown")
    print(page)
    time.sleep(5)
    driver.find_element_by_xpath("//*[text()='Next']").click()
    time.sleep(5)

1
2
3

In [115]:
#Making dataframe
sneakers = pd.DataFrame({'Name':brand,'Description':dec,'Price':price,'Discount':disc}).head(100)
sneakers

,Name,Description,Price,Discount
0,Echor,HHM Sneakers For Men,₹601,39% off
1,Englewood,White Shoes For Men | Casual White Laceups Sho...,₹499,66% off
2,Chevit,168 Smart Red Lace-Ups Casuals for Men Sneaker...,₹236,52% off
3,Earton,Sports and Running shoe for men (Combo pack of...,₹569,42% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹499,50% off
...,...,...,...,...
75,Aura,Stylish and Comfortable Sneakers For Men,₹279,44% off
76,Puma,Ontario IDP Sneakers For Men,"₹1,399",53% off
77,Creer,STYLISH Sneakers For Men,₹398,60% off
78,Absolute comfort,COMBO-(2)-RWT Sneakers For Men,₹367,63% off
79,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,52% off

## Q9: Go to the link - https://www.myntra.com/shoes

In [77]:
driver=webdriver.Chrome()
driver.get('https://www.myntra.com/shoes')

In [78]:
#clicking price filter
search_btn = driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()
search_btn

In [79]:
#clicking black filter
search_btn = driver.find_element_by_xpath("//*[text() ='Black']")
search_btn.click()

In [80]:
#Making empty list of all the data we need
brand=[]
dec=[]
price=[]

num = np.arange(1,4)
for page in num:
    #extracting required element
    brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")
    price_tag = driver.find_elements_by_xpath("//div[@class='product-price']")


    #exctacting brand
    for i in brand_tag:
        name1=i.text
        brand.append(name1)
    
    #extracting description
    for k in desc_tag:
        name3=k.text
        dec.append(name3)
    #extracting price
    for k in price_tag:
        name3=k.text.split()[1]
        price.append(name3)    
        
    print(page)
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()
    time.sleep(5)
    
    

#making dataframe
products = pd.DataFrame({'Name':brand,'Description':dec,'Price':price}).head(100)
products

1
2
3

            Name                        Description    Price
0           Puma     Men HYBRID NETFIT Running Shoe  6599Rs.
1           Nike      PEGASUS FLYEASE Running Shoes  7996Rs.
2         DIESEL              Men DANNY LC Sneakers  9093Rs.
3           Nike        Men JORDAN DELTA Basketball    12495
4         ADIDAS       Men SOLAR DRIVE 19 M Running  8399Rs.
..           ...                                ...      ...
95         Ruosh  Men Solid Leather Formal Slip-Ons     6990
96  UNDER ARMOUR      Charged Rogue 2 Wide 2E Shoes     7999
97  UNDER ARMOUR           Men Charged Escape 3 Evo     8999
98          Xtep                  Men Running Shoes  9349Rs.
99          Xtep                  Men Running Shoes  9349Rs.

[100 rows x 3 columns]

## Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.

In [110]:
#importing Libraries
import pandas as pd
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [111]:
driver=webdriver.Chrome()
driver.get('https://www.amazon.in/')


#finding job bt different element
search_job = driver.find_element_by_id('twotabsearchtextbox')
search_job.send_keys('laptop')

#clicking Search button
search_btn = driver.find_element_by_id("nav-search-submit-button")
search_btn.click()

#clicking intel i7 filter
search_btn = driver.find_element_by_xpath("//*[text() ='Intel Core i7']")
search_btn.click()

In [112]:
# Function Definition
def amazon_mob(url):
    urls = []
    name=[]
    price=[]
    rating=[]
  
    driver.get(url)
    soup= BeautifulSoup(driver.page_source, 'html.parser')
    prod_urls = soup.find_all('a', attrs ={'class':'a-link-normal a-text-normal'})
    for prod in prod_urls:
        urls.append('https://www.amazon.in'+prod.get('href'))
    
    #loop to scrap required details from each mobile page
    for url in urls[:10]:
        driver.get(url)
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        n = soup.find('h1',attrs={'id':'title'})
        if n is not None:
            name.append(n.find('span').text.replace('\n',''))
        else:
            name.append('-')
        rat = soup.find('div', attrs = {'id':'averageCustomerReviews'})
        if rat is not None:
            rating.append(rat.find('i').find('span').text)
        else:
            rating.append('-')
        p = soup.find('span', attrs = {'class':'a-size-medium a-color-price priceBlockDealPriceString'})
        if p is not None:
            price.append(p.text[2:])
        else:
            p = soup.find('div', attrs = {'id':'price'})
            if p is not None:
                price.append(p.find('span').text[2:])
            else:
                price.append('-')
      
    mob_df = df=pd.DataFrame({'Name':name,
                              'Price':price,
                              'Rating':rating})
    print(mob_df[:10])
    
    
# Calling Function
amazon_mob('https://www.amazon.in/s?k=laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1613487824&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_9')

                                                Name         Price  \
0  Lenovo Yoga S940 Intel Core i7 10th Gen 14" UH...   2,23,890.00
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...     50,999.00
2  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...     92,418.00
3  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...     90,079.50
4  Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...   1,15,390.00
5  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...     98,242.00
6  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...   2,10,000.00
7  (Renewed) Dell Latitude E6420 14 Inch Laptop (...             -
8  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...   1,60,890.00
9  Dell G3 3500 Gaming 15.6inch 120hz FHD Display...     93,971.00

               Rating
0  3.3 out of 5 stars
1  4.2 out of 5 stars
2  3.5 out of 5 stars
3  4.0 out of 5 stars
4  3.8 out of 5 stars
5  4.1 out of 5 stars
6  2.7 out of 5 stars
7  1.0 out of 5 stars
8  3.3 out of 5 stars
9  4.0 out of 5 stars