## Q.1 Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 id="p-variants-label">
<span>Variants</span>
</h3>

<h3 id="p-views-label">
<span>Views</span>
</h3>

<h3 id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 id="p-tb-label">
<span>Tools</span>
</h3>

<h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 id="p-lang-label">
<span>Languages</span>
</h3>

## Q.2 Write a python program to display IMDB’s Top rated 100 movies’ data(i.e. Name, IMDB rating, duration, director, star cast - 10 main characters)

In [1]:
from bs4 import BeautifulSoup
import requests
import re

url = 'https://www.imdb.com/chart/top/?sort=ir,desc&mode=simple&page=1'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

1 - The Shawshank Redemption (1994) - Starring: Frank Darabont (dir.), Tim Robbins, Morgan Freeman
2 - The Godfather (1972) - Starring: Francis Ford Coppola (dir.), Marlon Brando, Al Pacino
3 - The Godfather: Part II (1974) - Starring: Francis Ford Coppola (dir.), Al Pacino, Robert De Niro
4 - The Dark Knight (2008) - Starring: Christopher Nolan (dir.), Christian Bale, Heath Ledger
5 - 12 Angry Men (1957) - Starring: Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb
6 - Schindler's List (1993) - Starring: Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes
7 - The Lord of the Rings: The Return of the King (2003) - Starring: Peter Jackson (dir.), Elijah Wood, Viggo Mortensen
8 - Pulp Fiction (1994) - Starring: Quentin Tarantino (dir.), John Travolta, Uma Thurman
9 - Il buono, il brutto, il cattivo (1966) - Starring: Sergio Leone (dir.), Clint Eastwood, Eli Wallach
1 -  The Lord of the Rings: The Fellowship of the Ring (2001) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen
11 - Fight Club (1999) - Starring: David Fincher (dir.), Brad Pitt, Edward Norton
12 - Forrest Gump (1994) - Starring: Robert Zemeckis (dir.), Tom Hanks, Robin Wright
13 - Inception (2010) - Starring: Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt
14 - The Lord of the Rings: The Two Towers (2002) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen
15 - Star Wars: Episode V - The Empire Strikes Back (1980) - Starring: Irvin Kershner (dir.), Mark Hamill, Harrison Ford
16 - The Matrix (1999) - Starring: Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne
17 - Goodfellas (1990) - Starring: Martin Scorsese (dir.), Robert De Niro, Ray Liotta
18 - One Flew Over the Cuckoo's Nest (1975) - Starring: Milos Forman (dir.), Jack Nicholson, Louise Fletcher
19 - Shichinin no samurai (1954) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura
20 - Se7en (1995) - Starring: David Fincher (dir.), Morgan Freeman, Brad Pitt
21 - La vita è bella (1997) - Starring: Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi
22 - Cidade de Deus (2002) - Starring: Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino
23 - The Silence of the Lambs (1991) - Starring: Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins
24 - It's a Wonderful Life (1946) - Starring: Frank Capra (dir.), James Stewart, Donna Reed
25 - Star Wars (1977) - Starring: George Lucas (dir.), Mark Hamill, Harrison Ford
26 - Saving Private Ryan (1998) - Starring: Steven Spielberg (dir.), Tom Hanks, Matt Damon
27 - The Green Mile (1999) - Starring: Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan
28 - Sen to Chihiro no kamikakushi (2001) - Starring: Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette
29 - Interstellar (2014) - Starring: Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway
30 - Gisaengchung (2019) - Starring: Bong Joon Ho (dir.), Kang-ho Song, Lee Sun-kyun
31 - Léon (1994) - Starring: Luc Besson (dir.), Jean Reno, Gary Oldman
32 - Seppuku (1962) - Starring: Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama
33 - The Usual Suspects (1995) - Starring: Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne
34 - The Lion King (1994) - Starring: Roger Allers (dir.), Matthew Broderick, Jeremy Irons
35 - The Pianist (2002) - Starring: Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann
36 - Back to the Future (1985) - Starring: Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd
37 - Terminator 2: Judgment Day (1991) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton
38 - American History X (1998) - Starring: Tony Kaye (dir.), Edward Norton, Edward Furlong
39 - Modern Times (1936) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard
40 - Psycho (1960) - Starring: Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh
41 - Gladiator (2000) - Starring: Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix
42 - City Lights (1931) - Starring: Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill
43 - The Departed (2006) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon
44 - The Intouchables (2011) - Starring: Olivier Nakache (dir.), François Cluzet, Omar Sy
45 - Whiplash (2014) - Starring: Damien Chazelle (dir.), Miles Teller, J.K. Simmons
46 - Hotaru no haka (1988) - Starring: Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi
47 - The Prestige (2006) - Starring: Christopher Nolan (dir.), Christian Bale, Hugh Jackman
48 - Once Upon a Time in the West (1968) - Starring: Sergio Leone (dir.), Henry Fonda, Charles Bronson
49 - Casablanca (1942) - Starring: Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman
50 - Nuovo Cinema Paradiso (1988) - Starring: Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale
51 - Rear Window (1954) - Starring: Alfred Hitchcock (dir.), James Stewart, Grace Kelly
52 - Alien (1979) - Starring: Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt
53 - Apocalypse Now (1979) - Starring: Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando
54 - Memento (2000) - Starring: Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss
55 - The Great Dictator (1940) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard
56 - Raiders of the Lost Ark (1981) - Starring: Steven Spielberg (dir.), Harrison Ford, Karen Allen
57 - Hamilton (2020) - Starring: Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo
58 - Django Unchained (2012) - Starring: Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz
59 - The Lives of Others (2006) - Starring: Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck
60 - Paths of Glory (1957) - Starring: Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker
61 - Joker (2019) - Starring: Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro
62 - WALL·E (2008) - Starring: Andrew Stanton (dir.), Ben Burtt, Elissa Knight
63 - The Shining (1980) - Starring: Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall
64 - Avengers: Infinity War (2018) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth
65 - Sunset Blvd (1950) - Starring: Billy Wilder (dir.), William Holden, Gloria Swanson
66 - Witness for the Prosecution (1957) - Starring: Billy Wilder (dir.), Tyrone Power, Marlene Dietrich
67 - Oldeuboi (2003) - Starring: Chan-wook Park (dir.), Choi Min-sik, Yoo Ji-Tae
68 - Mononoke-hime (1997) - Starring: Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida
69 - Spider-Man: Into the Spider-Verse (2018) - Starring: Bob Persichetti (dir.), Shameik Moore, Jake Johnson
70 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Starring: Stanley Kubrick (dir.), Peter Sellers, George C. Scott
71 - The Dark Knight Rises (2012) - Starring: Christopher Nolan (dir.), Christian Bale, Tom Hardy
72 - Once Upon a Time in America (1984) - Starring: Sergio Leone (dir.), Robert De Niro, James Woods
73 - Kimi no na wa (2016) - Starring: Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi
74 - Aliens (1986) - Starring: James Cameron (dir.), Sigourney Weaver, Michael Biehn
75 - Coco (2017) - Starring: Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal
76 - Avengers: Endgame (2019) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Evans
77 - American Beauty (1999) - Starring: Sam Mendes (dir.), Kevin Spacey, Annette Bening
78 - Braveheart (1995) - Starring: Mel Gibson (dir.), Mel Gibson, Sophie Marceau
79 - Capharnaüm (2018) - Starring: Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw
80 - Das Boot (1981) - Starring: Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer
81 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan
82 - Toy Story (1995) - Starring: John Lasseter (dir.), Tom Hanks, Tim Allen
83 - Tengoku to jigoku (1963) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada
84 - Amadeus (1984) - Starring: Milos Forman (dir.), F. Murray Abraham, Tom Hulce
85 - Inglourious Basterds (2009) - Starring: Quentin Tarantino (dir.), Brad Pitt, Diane Kruger
86 - Star Wars: Episode VI - Return of the Jedi (1983) - Starring: Richard Marquand (dir.), Mark Hamill, Harrison Ford
87 - Good Will Hunting (1997) - Starring: Gus Van Sant (dir.), Robin Williams, Matt Damon
88 - Taare Zameen Par (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan
89 - Reservoir Dogs (1992) - Starring: Quentin Tarantino (dir.), Harvey Keitel, Tim Roth
90 - 2001: A Space Odyssey (1968) - Starring: Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood
91 - Requiem for a Dream (2000) - Starring: Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto
92 - Vertigo (1958) - Starring: Alfred Hitchcock (dir.), James Stewart, Kim Novak
93 - M - Eine Stadt sucht einen Mörder (1931) - Starring: Fritz Lang (dir.), Peter Lorre, Ellen Widmann
94 - Jagten (2012) - Starring: Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen
95 - Eternal Sunshine of the Spotless Mind (2004) - Starring: Michel Gondry (dir.), Jim Carrey, Kate Winslet
96 - Citizen Kane (1941) - Starring: Orson Welles (dir.), Orson Welles, Joseph Cotten
97 - Dangal (2016) - Starring: Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar
98 - Full Metal Jacket (1987) - Starring: Stanley Kubrick (dir.), Matthew Modine, R. Lee Ermey
99 - Ladri di biciclette (1948) - Starring: Vittorio De Sica (dir.), Lamberto Maggiorani, Enzo Staiola
10 -  Singin' in the Rain (1952) - Starring: Stanley Donen (dir.), Gene Kelly, Donald O'Connor

## Q.3 Write a python program to display IMDB’s Top rated 100 Indian movies’ data(i.e. Name, IMDB rating, duration, director, star cast - 10 main characters)

In [9]:
from bs4 import BeautifulSoup
import requests
import re

url = 'https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=1F922EAB7ZBNHG8AP0PK&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_hd'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)

indian_movies=pd.DataFrame(imdb)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

1 - Pather Panchali (1955) - Starring: Satyajit Ray (dir.), Kanu Bannerjee, Karuna Bannerjee
2 - Ratsasan (2018) - Starring: Ram Kumar (dir.), Vishnu Vishal, Amala Paul
3 - Gol Maal (1979) - Starring: Hrishikesh Mukherjee (dir.), Amol Palekar, Bindiya Goswami
4 - Nayakan (1987) - Starring: Mani Ratnam (dir.), Kamal Haasan, Saranya Ponvannan
5 - Anbe Sivam (2003) - Starring: Sundar C. (dir.), Kamal Haasan, Madhavan
6 - Apur Sansar (1959) - Starring: Satyajit Ray (dir.), Soumitra Chatterjee, Sharmila Tagore
7 - Natsamrat (2016) - Starring: Mahesh Manjrekar (dir.), Nana Patekar, Medha Manjrekar
8 - Pariyerum Perumal (2018) - Starring: Mari Selvaraj (dir.), Kathir, Anandhi
9 - Kireedam (1989) - Starring: Sibi Malayil (dir.), Mohanlal, Thilakan
1 -  Black Friday (2004) - Starring: Anurag Kashyap (dir.), Kay Kay Menon, Pawan Malhotra
11 - Manichitrathazhu (1993) - Starring: Fazil (dir.), Mohanlal, Shobana
12 - Thevar Magan (1992) - Starring: Bharathan (dir.), Kamal Haasan, Shivaji Ganesan
13 - 96 (2018) - Starring: C. Prem Kumar (dir.), Vijay Sethupathi, Trisha Krishnan
14 - Kumbalangi Nights (2019) - Starring: Madhu C. Narayanan (dir.), Shane Nigam, Soubin Shahir
15 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan
16 - Taare Zameen Par (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan
17 - Visaaranai (2015) - Starring: Vetrimaaran (dir.), Dinesh, Samuthirakani
18 - Thalapathi (1991) - Starring: Mani Ratnam (dir.), Rajinikanth, Mammootty
19 - Aparajito (1956) - Starring: Satyajit Ray (dir.), Pinaki Sengupta, Smaran Ghosal
20 - Anand (1971) - Starring: Hrishikesh Mukherjee (dir.), Rajesh Khanna, Amitabh Bachchan
21 - Jaane Bhi Do Yaaro (1983) - Starring: Kundan Shah (dir.), Naseeruddin Shah, Ravi Baswani
22 - Asuran (2019) - Starring: Vetrimaaran (dir.), Dhanush, Manju Warrier
23 - Pyaasa (1957) - Starring: Guru Dutt (dir.), Guru Dutt, Waheeda Rehman
24 - Guide (1965) - Starring: Vijay Anand (dir.), Dev Anand, Waheeda Rehman
25 - Kannathil Muthamittal (2002) - Starring: Mani Ratnam (dir.), Madhavan, Simran
26 - Chupke Chupke (1975) - Starring: Hrishikesh Mukherjee (dir.), Dharmendra, Sharmila Tagore
27 - Vikram Vedha (2017) - Starring: Gayatri (dir.), Madhavan, Vijay Sethupathi
28 - Jersey (2019) - Starring: Gowtam Tinnanuri (dir.), Nani, Shraddha Srinath
29 - Kaithi (2019) - Starring: Lokesh Kanagaraj (dir.), Karthi, Narain
30 - Thani Oruvan (2015) - Starring: Mohan Raja (dir.), Jayam Ravi, Arvind Swamy
31 - Vada Chennai (2018) - Starring: Vetrimaaran (dir.), Dhanush, Ameer Sultan
32 - Soorarai Pottru (2020) - Starring: Sudha Kongara (dir.), Suriya, Madhavan
33 - Drishyam (2013) - Starring: Jeethu Joseph (dir.), Mohanlal, Meena
34 - Khosla Ka Ghosla! (2006) - Starring: Dibakar Banerjee (dir.), Anupam Kher, Boman Irani
35 - Aruvi (2016) - Starring: Arun Prabhu Purushothaman (dir.), Aditi Balan, Padmashri Mohammad Ali
36 - Peranbu (2018) - Starring: Ram (dir.), Mammootty, Sadhana
37 - Super Deluxe (2019) - Starring: Thiagarajan Kumararaja (dir.), Vijay Sethupathi, Fahadh Faasil
38 - Agent Sai Srinivasa Athreya (2019) - Starring: Swaroop Rsj (dir.), Naveen Polishetty, Shruti Sharma
39 - Tumbbad (2018) - Starring: Rahi Anil Barve (dir.), Sohum Shah, Jyoti Malshe
40 - Andhadhun (2018) - Starring: Sriram Raghavan (dir.), Ayushmann Khurrana, Tabu
41 - Mahanati (2018) - Starring: Nag Ashwin (dir.), Keerthy Suresh, Dulquer Salmaan
42 - Kaakkaa Muttai (2014) - Starring: M. Manikandan (dir.), Ramesh, J. Vignesh
43 - Premam (2015) - Starring: Alphonse Puthren (dir.), Nivin Pauly, Sai Pallavi
44 - Dhuruvangal Pathinaaru (2016) - Starring: Karthick Naren (dir.), Rahman, Prakash Raghavan
45 - Satya (1998) - Starring: Ram Gopal Varma (dir.), J.D. Chakravarthi, Manoj Bajpayee
46 - Shahid (2012) - Starring: Hansal Mehta (dir.), Rajkummar Rao, Prabhleen Sandhu
47 - Bangalore Days (2014) - Starring: Anjali Menon (dir.), Nazriya Nazim, Nivin Pauly
48 - Soodhu Kavvum (2013) - Starring: Nalan Kumarasamy (dir.), Vijay Sethupathi, Sanchita Shetty
49 - Mudhalvan (1999) - Starring: S. Shankar (dir.), Arjun Sarja, Manisha Koirala
50 - Anniyan (2005) - Starring: S. Shankar (dir.), Vikram, Sada
51 - Gangs of Wasseypur (2012) - Starring: Anurag Kashyap (dir.), Manoj Bajpayee, Richa Chadha
52 - Papanasam (2015) - Starring: Jeethu Joseph (dir.), Kamal Haasan, Gautami
53 - Jigarthanda (2014) - Starring: Karthik Subbaraj (dir.), Siddharth, Bobby Simha
54 - Bhaag Milkha Bhaag (2013) - Starring: Rakeysh Omprakash Mehra (dir.), Farhan Akhtar, Sonam Kapoor
55 - Paan Singh Tomar (2012) - Starring: Tigmanshu Dhulia (dir.), Irrfan Khan, Mahie Gill
56 - Talvar (2015) - Starring: Meghna Gulzar (dir.), Irrfan Khan, Konkona Sen Sharma
57 - Swades: We, the People (2004) - Starring: Ashutosh Gowariker (dir.), Shah Rukh Khan, Gayatri Joshi
58 - Drishyam (2015) - Starring: Nishikant Kamat (dir.), Ajay Devgn, Shriya Saran
59 - Sholay (1975) - Starring: Ramesh Sippy (dir.), Sanjeev Kumar, Dharmendra
60 - Hera Pheri (2000) - Starring: Priyadarshan (dir.), Akshay Kumar, Sunil Shetty
61 - Nil Battey Sannata (2015) - Starring: Ashwiny Iyer Tiwari (dir.), Swara Bhaskar, Ratna Pathak Shah
62 - Pithamagan (2003) - Starring: Bala (dir.), Vikram, Suriya
63 - Black (2005) - Starring: Sanjay Leela Bhansali (dir.), Amitabh Bachchan, Rani Mukerji
64 - Chak De! India (2007) - Starring: Shimit Amin (dir.), Shah Rukh Khan, Vidya Malvade
65 - Jo Jeeta Wohi Sikandar (1992) - Starring: Mansoor Khan (dir.), Aamir Khan, Ayesha Jhulka
66 - Sairat (2016) - Starring: Nagraj Manjule (dir.), Rinku Rajguru, Akash Thosar
67 - Mughal-E-Azam (1960) - Starring: K. Asif (dir.), Prithviraj Kapoor, Madhubala
68 - Charulata (1964) - Starring: Satyajit Ray (dir.), Soumitra Chatterjee, Madhabi Mukherjee
69 - Rang De Basanti (2006) - Starring: Rakeysh Omprakash Mehra (dir.), Aamir Khan, Soha Ali Khan
70 - Ustad Hotel (2012) - Starring: Anwar Rasheed (dir.), Dulquer Salmaan, Thilakan
71 - Queen (2013) - Starring: Vikas Bahl (dir.), Kangana Ranaut, Rajkummar Rao
72 - Udaan (2010) - Starring: Vikramaditya Motwane (dir.), Rajat Barmecha, Ronit Roy
73 - Article 15 (2019) - Starring: Anubhav Sinha (dir.), Ayushmann Khurrana, Nassar
74 - Zindagi Na Milegi Dobara (2011) - Starring: Zoya Akhtar (dir.), Hrithik Roshan, Farhan Akhtar
75 - A Wednesday (2008) - Starring: Neeraj Pandey (dir.), Anupam Kher, Naseeruddin Shah
76 - Dil Chahta Hai (2001) - Starring: Farhan Akhtar (dir.), Aamir Khan, Saif Ali Khan
77 - Munna Bhai MBBS (2003) - Starring: Rajkumar Hirani (dir.), Sanjay Dutt, Arshad Warsi
78 - Sarfarosh (1999) - Starring: John Mathew Matthan (dir.), Aamir Khan, Naseeruddin Shah
79 - Masaan (2015) - Starring: Neeraj Ghaywan (dir.), Richa Chadha, Sanjay Mishra
80 - Andaz Apna Apna (1994) - Starring: Rajkumar Santoshi (dir.), Aamir Khan, Salman Khan
81 - OMG: Oh My God! (2012) - Starring: Umesh Shukla (dir.), Paresh Rawal, Akshay Kumar
82 - Roja (1992) - Starring: Mani Ratnam (dir.), Arvind Swamy, Madhoo
83 - Lagaan: Once Upon a Time in India (2001) - Starring: Ashutosh Gowariker (dir.), Aamir Khan, Raghuvir Yadav
84 - Maheshinte Prathikaaram (2016) - Starring: Dileesh Pothan (dir.), Fahadh Faasil, Aparna Balamurali
85 - Theeran adhigaaram ondru (2017) - Starring: H. Vinoth (dir.), Karthi, Rakul Preet Singh
86 - Kahaani (2012) - Starring: Sujoy Ghosh (dir.), Vidya Balan, Parambrata Chattopadhyay
87 - Alai Payuthey (2000) - Starring: Mani Ratnam (dir.), Madhavan, Shalini
88 - PK (2014) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Anushka Sharma
89 - Baasha (1995) - Starring: Suresh Krishna (dir.), Rajinikanth, Nagma
90 - Uri: The Surgical Strike (2018) - Starring: Aditya Dhar (dir.), Vicky Kaushal, Paresh Rawal
91 - Iqbal (2005) - Starring: Nagesh Kukunoor (dir.), Shreyas Talpade, Naseeruddin Shah
92 - Pink (2016) - Starring: Aniruddha Roy Chowdhury (dir.), Taapsee Pannu, Amitabh Bachchan
93 - Barfi! (2012) - Starring: Anurag Basu (dir.), Ranbir Kapoor, Priyanka Chopra
94 - The Legend of Bhagat Singh (2002) - Starring: Rajkumar Santoshi (dir.), Ajay Devgn, Sushant Singh
95 - Bommarillu (2006) - Starring: Bhaskar (dir.), Siddharth, Genelia D'Souza
96 - Lucia (2013) - Starring: Pawan Kumar (dir.), Sathish Neenasam, Sruthi Hariharan
97 - Bombay (1995) - Starring: Mani Ratnam (dir.), Arvind Swamy, Manisha Koirala
98 - Maqbool (2003) - Starring: Vishal Bhardwaj (dir.), Irrfan Khan, Tabu
99 - Omkara (2006) - Starring: Vishal Bhardwaj (dir.), Ajay Devgn, Kareena Kapoor
10 -  Section 375 (2019) - Starring: Ajay Bahl (dir.), Akshaye Khanna, Richa Chadha

## Q.4 Write a python program to scrap book name, author name, genre and book review of 5 books from ‘www.bookpage.com’

In [3]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

url = 'https://bookpage.com/reviews'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
links = soup.find("div", {"class": "bp-well"}).findAll("div", {"class": "flex-article-content"})
book_list = []
for html in links:
    book = html.find("h4", {"class": "italic"}).find("a").get_text()
    author = html.find("p", {"class": "sans bold"}).get_text().strip()
    genre = html.find("p", {"class": "genre-links"}).find("a").get_text()
    review = html.find("p", {"class": ""})
    raw_list = [book, author, genre, review]
    book_list.append(raw_list)
test=pd.DataFrame(book_list)
test.columns =['Book_Name', 'Author', 'Genre', 'Review']

In [5]:
test

,Book_Name,Author,Genre,Review
0,The Bad Muslim Discount,Syed M. Masood,Fiction,None
1,Of a Feather,Dayna Lorentz,Children's,[Rufus the great horned owl is the self-declar...
2,Four Lost Cities,Annalee Newitz,Nonfiction,None
3,★ Mike Nichols,Mark Harris,Nonfiction,"[Candid, colorful and chock-full of detail, , ..."
4,★ When Harry Met Minnie,Martha Teichner,Nonfiction,None
5,Good Neighbors,Sarah Langan,Fiction,None
6,Made in China,Amelia Pang,Nonfiction,None
7,Hitler and Stalin,Laurence Rees,Nonfiction,"[Adolf Hitler and Joseph Stalin never met, but..."
8,★ The Other Mothers,Jennifer Berney,Nonfiction,None
9,Milo Imagines the World,"Matt de la Peña, Christian Robinson",Children's,[Author and illustrator Matt de la Peña and Ch...

## Q.5. Write a python program to scrap cricket rankings from ‘www.icc-cricket.com’. You have to scrap: 

### i) Top 10 ODI teams. 
### ii) Top 10 ODI Batsmen 
### iii) Top 10 ODI bowlers

In [18]:
import urllib
import requests
from bs4 import BeautifulSoup
def ranking(url):
    page= requests.get(url)


    soup = BeautifulSoup(page.text, 'lxml')

    table = soup.find('table',{'class':'table'})


    data=[]
    for row in table.findAll('tr'):
        link = row.findAll('td')
        if len(link) == 5:
            data.append(link[1].text.strip())
                
    df = pd.DataFrame(data) 
    df=df[0:10]
    return df
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
url2="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
url3="https://www.icc-cricket.com/rankings/mens/player-rankings/test/bowling"
teams=ranking(url)
batsmen=ranking(url2)
bowlers=ranking(url3)
result=pd.concat([teams,batsmen,bowlers],axis=1, join='inner')
result.columns =['Top10 Teams', 'Top10 Batsmen', 'Top10 Bowlers'] 
result

        Top10 Teams        Top10 Batsmen        Top10 Bowlers
0      England\nENG          Virat Kohli          Pat Cummins
1        India\nIND         Rohit Sharma         Stuart Broad
2   New Zealand\nNZ           Babar Azam          Neil Wagner
3    Australia\nAUS          Ross Taylor       Josh Hazlewood
4  South Africa\nSA          Aaron Finch          Tim Southee
5     Pakistan\nPAK  Francois du Plessis       James Anderson
6   Bangladesh\nBAN         David Warner        Kagiso Rabada
7     Sri Lanka\nSL      Kane Williamson  Ravichandran Ashwin
8   West Indies\nWI      Quinton de Kock       Jasprit Bumrah
9  Afghanistan\nAFG       Jonny Bairstow         Jason Holder

## Q.6. Write a python program to scrap cricket rankings from ‘www.icc-cricket.com’. You have to scrap: (Women)
### i) Top 10 ODI teams. 
### ii) Top 10 ODI Batsmen 
### iii) Top 10 ODI bowlers

In [5]:
import urllib
import requests
from bs4 import BeautifulSoup
def ranking(url):
    page= requests.get(url)


    soup = BeautifulSoup(page.text, 'lxml')

    table = soup.find('table',{'class':'table'})


    data=[]
    for row in table.findAll('tr'):
        link = row.findAll('td')
        if len(link) == 5:
            data.append(link[1].text.strip())
                
    df = pd.DataFrame(data) 
    df=df[0:10]
    return df
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
url2="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
url3="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"
teams=ranking(url)
batsmen=ranking(url2)
bowlers=ranking(url3)
result=pd.concat([teams,batsmen,bowlers],axis=1, join='inner')
result.columns =['Top10 Teams', 'Top10 Batsmen', 'Top10 Bowlers'] 
result

        Top10 Teams      Top10 Batsmen   Top10 Bowlers
0    Australia\nAUS        Meg Lanning   Jess Jonassen
1        India\nIND    Stafanie Taylor    Megan Schutt
2      England\nENG       Alyssa Healy  Marizanne Kapp
3  South Africa\nSA    Smriti Mandhana  Shabnim Ismail
4   New Zealand\nNZ  Amy Satterthwaite  Jhulan Goswami
5   West Indies\nWI     Tammy Beaumont    Poonam Yadav
6     Pakistan\nPAK    Laura Wolvaardt   Shikha Pandey
7   Bangladesh\nBAN       Ellyse Perry    Ellyse Perry
8     Sri Lanka\nSL        Mithali Raj  Anya Shrubsole
9      Ireland\nIRE        Lizelle Lee   Deepti Sharma

## Q.7 Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [14]:
import bs4
from bs4 import BeautifulSoup
import requests
import pandas as pd

no_pages = 2

def get_data(pageNo):  
    headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    r = requests.get('https://www.amazon.in/gp/bestsellers/electronics/1389432031/ref=amb_link_1?pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-1&pf_rd_r=4508BV307PEWKK4W2T2M&pf_rd_r=4508BV307PEWKK4W2T2M&pf_rd_t=101&pf_rd_p=984e7ab0-2561-4b96-bfcf-e92188007f0a&pf_rd_p=984e7ab0-2561-4b96-bfcf-e92188007f0a&pf_rd_i=1389432031'+str(pageNo)+'?ie=UTF8&pg='+str(pageNo), headers=headers)#, proxies=proxies)
    content = r.content
    soup = BeautifulSoup(content)
    #print(soup)

    alls = []
    for d in soup.findAll('div', attrs={'class':'a-section a-spacing-none aok-relative'}):
        #print(d)
        product_name = d.find('span', attrs={'class':'zg-text-center-align'})
        n = product_name.find_all('img', alt=True)
        #print(n[0]['alt'])
        img_url = d.find('a', attrs={'class':'a-size-small a-link-child'})
        rating = d.find('span', attrs={'class':'a-icon-alt'})
        users_rated = d.find('a', attrs={'class':'a-size-small a-link-normal'})
        price = d.find('span', attrs={'class':'p13n-sc-price'})

        all1=[]

        if product_name is not None:
            #print(n[0]['alt'])
            all1.append(n[0]['alt'])
        else:
            all1.append("unknown-product")

        if rating is not None:
            #print(rating.text)
            all1.append(rating.text)
        else:
            all1.append('-1')

        if users_rated is not None:
            #print(price.text)
            all1.append(users_rated.text)
        else:
            all1.append('0')     

        if price is not None:
            #print(price.text)
            all1.append(price.text)
        else:
            all1.append('0')
        alls.append(all1)    
    return alls

results = []
for i in range(1, no_pages+1):
    results.append(get_data(i))
flatten = lambda l: [item for sublist in l for item in sublist]
df = pd.DataFrame(flatten(results),columns=['Product Name','Rating','Customers_Rated', 'Price'])
df.to_csv('amazon_products.csv', index=False, encoding='utf-8')

df[:9]

,Product Name,Rating,Customers_Rated,Price
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)",4.0 out of 5 stars,"10,222","₹ 8,999.00"
1,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)",4.2 out of 5 stars,"12,595","₹ 7,499.00"
2,"Samsung Galaxy M31 Prime Edition (Space Black,...",4.2 out of 5 stars,"1,28,911","₹ 16,499.00"
3,"Redmi 9A (Sea Blue, 2GB Ram, 32GB Storage)",4.2 out of 5 stars,"12,595","₹ 6,999.00"
4,"Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto...",3.7 out of 5 stars,"1,976","₹ 10,999.00"
5,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...",4.2 out of 5 stars,"1,28,911","₹ 16,499.00"
6,"Redmi Note 9 Pro (Aurora Blue, 4GB RAM, 64GB S...",4.2 out of 5 stars,"31,273","₹ 12,999.00"
7,"Samsung Galaxy M02s (Blue,3GB RAM, 32GB Storag...",3.8 out of 5 stars,720,"₹ 8,999.00"
8,"Redmi Note 9 Pro Max (Aurora Blue, 6GB RAM, 64...",4.1 out of 5 stars,"28,378","₹ 14,999.00"

## Q.8 Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [10]:
from bs4 import BeautifulSoup
import requests

page = requests.get("http://forecast.weather.gov/MapClick.php?lat=37.78&lon=-122.42")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
forecast_items = seven_day.find_all(class_="tombstone-container")
tonight = forecast_items[0]

period=tonight.find(class_="period-name").get_text()
short_desc=tonight.find(class_="short-desc").get_text()
temp=tonight.find(class_="temp").get_text()
img = tonight.find("img")
desc = img['title']

period_tags=seven_day.select(".tombstone-container .period-name")
periods=[pt.get_text() for pt in period_tags]
short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]

import pandas as pd
weather = pd.DataFrame({
        "period": periods,
         "short_desc": short_descs,
         "temp": temps,
         "desc":descs
    })
weather

,period,short_desc,temp,desc
0,Tonight,Mostly Clear,Low: 43 °F,"Tonight: Mostly clear, with a low around 43. W..."
1,Friday,Sunny,High: 63 °F,"Friday: Sunny, with a high near 63. Calm wind ..."
2,FridayNight,Mostly Clear,Low: 45 °F,"Friday Night: Mostly clear, with a low around ..."
3,Saturday,Sunny,High: 64 °F,"Saturday: Sunny, with a high near 64. South wi..."
4,SaturdayNight,Partly Cloudy,Low: 46 °F,"Saturday Night: Partly cloudy, with a low arou..."
5,Sunday,Patchy Fogthen MostlySunny,High: 62 °F,"Sunday: Patchy fog before 7am. Otherwise, mos..."
6,SundayNight,Mostly Cloudy,Low: 47 °F,"Sunday Night: Mostly cloudy, with a low around..."
7,Monday,Partly Sunny,High: 60 °F,"Monday: Partly sunny, with a high near 60."
8,MondayNight,Partly Cloudy,Low: 46 °F,"Monday Night: Partly cloudy, with a low around..."