## Q.1 Scrape the details of most viewed videos on YouTube from Wikipedia:

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

html=driver.page_source
df=pd.read_html(html)

In [7]:
df=df[2].drop(['Note','Unnamed: 6'],axis=1)

In [10]:
df.columns=['Rank','Name','Author','Views','Upload date']

In [11]:
df

,Rank,Name,Author,Views,Upload date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.04,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.23,"January 12, 2017"
2,3.,"""Shape of You""[25]",Ed Sheeran,5.20,"January 30, 2017"
3,4.,"""See You Again""[26]",Wiz Khalifa,4.99,"April 6, 2015"
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,4.87,"October 8, 2016"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.41,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.10,"November 19, 2014"
7,8.,"""Gangnam Style""[32]",Psy,3.99,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,3.72,"February 27, 2018"
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,3.71,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.59,"March 6, 2014"
11,12.,"""Sorry""[37]",Justin Bieber,3.41,"October 22, 2015"
12,13.,"""Sugar""[38]",Maroon 5,3.40,"January 14, 2015"
13,14.,"""Roar""[39]",Katy Perry,3.29,"September 5, 2013"
14,15.,"""Counting Stars""[40]",OneRepublic,3.21,"May 31, 2013"
15,16.,"""Thinking Out Loud""[41]",Ed Sheeran,3.20,"October 7, 2014"
16,17.,"""Dame Tu Cosita""[42]",El Chombo,3.14,"April 5, 2018"
17,18.,"""Shake It Off""[43]",Taylor Swift,3.02,"August 18, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.00,"December 3, 2015"
19,20.,"""Lean On""[45]",Major Lazer Official,2.98,"March 22, 2015"
20,21.,"""Dark Horse""[46]",Katy Perry,2.98,"February 20, 2014"
21,22.,"""Bailando""[47]",Enrique Iglesias,2.98,"April 11, 2014"
22,23.,"""Girls Like You""[48]",Maroon 5,2.97,"May 31, 2018"
23,24.,"""Let Her Go""[49]",Passenger,2.92,"July 25, 2012"
24,25.,"""Mi Gente""[50]",J Balvin,2.87,"June 29, 2017"
25,26.,"""Hello""[51]",Adele,2.79,"October 22, 2015"
26,27.,"""Perfect""[52]",Ed Sheeran,2.76,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.75,"June 4, 2010"
28,29.,"""Blank Space""[54]",Taylor Swift,2.73,"November 10, 2014"
29,30.,"""Chantaje""[55]",Shakira,2.63,"November 18, 2016"
30,"As of February 26, 2021","As of February 26, 2021","As of February 26, 2021","As of February 26, 2021","As of February 26, 2021"

## Q.2 Scrape the details team India’s international fixtures from bcci.tv

In [29]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [30]:
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [31]:
driver.find_element_by_xpath("//li[@class='drop-down__option  ']").click()

In [32]:
Title=[]
title_tag=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in title_tag:
    title=i.text
    Title.append(title)
    
Series=[]
series_tag=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series_tag:
    series=i.text
    Series.append(series)
    
Place=[]
place_tag=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place_tag:
    place=i.text
    Place.append(place)

In [41]:
Date=[]
date_tag=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong")
for i in date_tag:
    date=i.text
    Date.append(date)

In [53]:
Time=[]
time_tag=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in time_tag:
    time=i.text
    time2=time.split(" ")
    Time.append(time2[3])
Time[:3]

['09:30', '19:00', '19:00']

In [55]:
df=pd.DataFrame({'Title':Title,
                'Series':Series,
                'Place':Place,
                'Date':Date,
                'Time(IST)':Time})

df

,Title,Series,Place,Date,Time(IST)
0,4th Test,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 4th March,09:30
1,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Friday 12th March,19:00
2,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Sunday 14th March,19:00
3,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Tuesday 16th March,19:00
4,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 18th March,19:00
5,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Saturday 20th March,19:00
6,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23rd March,13:30
7,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Friday 26th March,13:30
8,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Sunday 28th March,13:30
9,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4th August,15:30
10,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12th August,15:30
11,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25th August,15:30
12,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2nd September,15:30
13,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10th September,15:30

## Q.3 Scrape the details of selenium exception from guru99.com.

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver=webdriver.Chrome()
driver.get('https://www.guru99.com/')

In [15]:
driver.find_element_by_xpath("//ul[@id='java_technologies']/li[3]").click()

In [16]:
driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()

In [17]:
html=driver.page_source
df=pd.read_html(html)

df[3].columns=['Exception name','Description']
df=df[3].iloc[1:]
df

,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## Q.4 Scrape the details of State-wise GDP of India from statisticstime.com.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver=webdriver.Chrome()
driver.get('http://statisticstimes.com')

driver.find_element_by_xpath("//div[@class='navbar']/div[2]").click()
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").click()
tag=driver.find_elements_by_xpath("//a[@class='ec']")
for i in tag:
    if i.text == '» GDP of Indian states':
        i.click()
        break;

In [2]:
html=driver.page_source
df=pd.read_html(html)
df[1]

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20339849  18971237

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.88%        398.145                               -   2039074
1    8.59%        246.529                         1312929   1215307
2    8.35%        239.656                         1166817   1123982
3    7.92%        227.276                               -   1186379
4    7.87%        225.798                         1156039   1091077
5    5.75%        164.820                          793223    739525
6    4.97%        142.543                          711627    677428
7    4.55%        130.501                          672018    621301
8    4.54%        130.210                          663258    612828
9    4.27%        122.431                          561801    522009
10   4.12%        118.206                               -    559412
11   4.08%        117.180                          634408    590569
12   3.87%        111.024                          572240    531085
13   2.80%         80.204                          414977    375651
14   2.77%         79.601                          418868    397669
15   2.57%         73.768                          396499    376877
16   1.67%         47.769                               -    234048
17   1.60%         45.982                          243477    231182
18   1.57%         44.945                          240036    224986
19   1.30%         37.186                               -    193273
20   0.82%         23.584                               -    112755
21   0.81%         23.265                          124403    117851
22   0.39%         11.065                           63408     57787
23   0.26%          7.538                           40583     36963
24   0.22%          6.369                               -     31192
25   0.18%          5.207                           25093     23013
26   0.18%          5.063                           26695     24682
27   0.15%          4.344                           20017     18722
28   0.15%          4.215                           20673     19300
29   0.14%          4.126                               -     17647
30   0.13%          3.721                               -     16676
31   0.12%          3.370                           18797     16478
32       -              -                               -         -
33     NaN           2869                        14565951  13981426

## Q.5 Scrape the details of trending repositories on Github.com

In [9]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import numpy as np
import time

In [10]:
driver=webdriver.Chrome()


driver.get('https://github.com/')

try:
    driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]").click()
    driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]/details/div/ul[2]/li[3]/a").click()
except NoSuchElementException as e:
    WebDriverWait(driver, 10).until(ec.visibility_of_element_located((By.XPATH,"//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]"))).click()
    WebDriverWait(driver, 2).until(ec.visibility_of_element_located((By.XPATH,"//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]/details/div/ul[2]/li[3]/a"))).click()

titles=[]
des = []
counts = [] 
langs = []
ref = []
a = []

urls=driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a")
for i in urls:
    ref.append(str(i.get_attribute('href')))
    
for url in ref:
    driver.get(url)
    try:
        title = driver.find_element_by_xpath("//main[@id='js-repo-pjax-container']/div/div/div/h1")
        titles.append(title.text.replace('\n',''))
    except NoSuchElementException as e:
        titles.append("-")

    try:
        de = driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[1]/div/p")
        des.append(de.text)
    except NoSuchElementException as e:
        des.append("-")

    try:
        count = driver.find_element_by_css_selector("#repo-content-pjax-container > div > div.gutter-condensed.gutter-lg.flex-column.flex-md-row.d-flex > div.flex-shrink-0.col-12.col-md-3 > div > div:Nth-Last-Child(2)")
        counts.append(count.text.split()[1])
    
    except Exception as e:
        counts.append("-")
        
    try:
        lang = driver.find_element_by_css_selector("#repo-content-pjax-container > div > div.gutter-condensed.gutter-lg.flex-column.flex-md-row.d-flex > div.flex-shrink-0.col-12.col-md-3 > div > div:Last-Child > div > ul").text.split('\n')
        for index, element in enumerate(lang):
            if index % 2 == 0:
                a.append(element)
        langs.append(str(a))
        a.clear()
    except Exception as e:
        langs.append("-")

df = pd.DataFrame({'Repository title' : titles ,'Repository description' : des ,'Contributors count':counts ,'Languages used': langs})

driver.close()
df

,Repository title,Repository description,Contributors count,Languages used
0,dolthub/dolt,Dolt – It's Git for Data,21,"['Go', 'Shell', 'Python', 'Lua', 'C#', 'C']"
1,openai/CLIP,Contrastive Language-Image Pretraining,3,"['Jupyter Notebook', 'Python']"
2,google/googletest,Googletest - Google Testing and Mocking Framework,316,"['C++', 'Python', 'CMake', 'C', 'Starlark', 'S..."
3,flutter/flutter,Flutter makes it easy and fast to build beauti...,815,"['Dart', 'Objective-C', 'Java', 'C++', 'Shell'..."
4,git/git,Git Source Code Mirror - This is a publish-onl...,"1,446","['C', 'Shell', 'Perl', 'Tcl', 'Python', 'Makef..."
5,dwisiswant0/apkleaks,"Scanning APK file for URIs, endpoints & secrets.",3,['Python']
6,coolsnowwolf/lede,Lean's OpenWrt source,229,"['C', 'Makefile', 'Shell', 'C++', 'Roff', 'Pyt..."
7,Developer-Y/cs-video-courses,List of Computer Science courses with video le...,-,['']
8,gskinnerTeam/flutter-folio,"A platform adaptive Flutter app for desktop, m...",4,"['Dart', 'C++', 'CMake', 'Swift', 'HTML', 'Rub..."
9,connor-create/wsbtrades,-,No,['Python']
10,facebookresearch/d2go,D2Go is a toolkit for efficient deep learning,9,"['Python', 'Cuda', 'C++']"
11,microsoft/CSS-Exchange,Exchange Server support tools and scripts,8,"['PowerShell', 'HTML', 'Lua']"
12,sarven/unit-testing-tips,Unit testing tips by examples in PHP,-,"['sarven Kamil Ruczyński', 'carusogabriel Gabr..."
13,kilimchoi/engineering-blogs,A curated list of engineering blogs,335,['Ruby']
14,MicrosoftLearning/AZ-104-MicrosoftAzureAdminis...,AZ-104 Microsoft Azure Administrator,38,['PowerShell']
15,florinpop17/app-ideas,A Collection of application ideas which can be...,No,['']
16,trekhleb/javascript-algorithms,Algorithms and data structures implemented in ...,139,['JavaScript']
17,freefq/free,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/ssr/v2ray/trojan...,-,-
18,nushell/nushell,A new type of shell,200,"['Rust', 'Dockerfile']"
19,Shopify/upgrow,A sustainable architecture for Ruby on Rails.,8,"['Ruby', 'HTML', 'JavaScript', 'CSS']"
20,thunlp/GNNPapers,Must-read papers on graph neural networks (GNN),-,['']
21,getzola/zola,A fast static site generator in a single binar...,218,"['Rust', 'HTML', 'Shell', 'PowerShell', 'Pytho..."
22,microsoft/vscode,Visual Studio Code,"1,370","['TypeScript', 'JavaScript', 'CSS', 'Inno Setu..."
23,muguruzawang/jd_maotai_seckill,优化版本的京东茅台抢购神器,No,['Python']
24,acantril/learn-cantrill-io-labs,Standard and Advanced Demos for learn.cantrill...,9,"['Shell', 'PowerShell', 'JavaScript', 'HTML', ..."

## Q.6 Scrape the details of top 100 songs on billboard.com

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver=webdriver.Chrome()
driver.get('https://www.billboard.com')

In [2]:
hot_100=driver.find_element_by_xpath("//ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']/li[3]")
hot_100.click()

In [3]:

Name=[]
name_tag=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in name_tag:
    name=i.text
    Name.append(name)

Singer=[]
singer_tag=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in singer_tag:
    singer=i.text
    Singer.append(singer)
    
Rank_last_week=[]
Rank_last_tag=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in Rank_last_tag:
    last_week=i.text
    Rank_last_week.append(last_week)
    
Rank_peak=[]
peak_tag=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak_tag:
    peak=i.text
    Rank_peak.append(peak)
    
Weeks_on_chart=[]
Weeks_chart=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in Weeks_chart:
    week=i.text
    Weeks_on_chart.append(week)
    
df=pd.DataFrame({'Song Name':Name,
                'Artist Name':Singer,
                'Last Week Rank':Rank_last_week,
                'Peak Rank':Rank_peak,
                'Weeks On Board':Weeks_on_chart})

df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

## Q.7 Scrape the details of Data science recruiters from naukri.com.

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver=webdriver.Chrome()
driver.get('https://www.naukri.com')

In [5]:
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]")
recruiter.click()

In [6]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [7]:
search_btn=driver.find_element_by_xpath("//input[@class='sugInp']")
search_btn.send_keys("Data Science")

driver.find_element_by_xpath("//button[@id='qsbFormBtn']").click()

In [8]:
Name=[]
name_tag=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name_tag:
    name=i.text
    Name.append(name)
    
Designation=[]
desi_tag=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in desi_tag:
    designation=i.text
    Designation.append(designation)
    
Company=[]
company_tag=driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in company_tag:
    company=i.text
    Company.append(company)
    
Skills=[]
skill_tag=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skill_tag:
    skills=i.text
    Skills.append(skills)
    
Location=[]
location_tag=driver.find_elements_by_xpath("//p[@class='highlightable']")
for i in location_tag:
    location=i.text
    location_fin=location.split('\n')
    if len(location_fin) == 4:
        Location.append(location_fin[3])
    else:
        Location.append('---')
        
df=pd.DataFrame({'Name':Name,
                'Designation':Designation,
                'Company':Company,
                'Skills they hire for':Skills,
                'Location':Location})

df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",---
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",---
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

## Q.8 Scrape the details of Highest selling novels.Url= https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

html=driver.page_source
df=pd.read_html(html)
df=df[0].drop('Rank',axis=1)
df.columns=['Book name','Author name','Volumes sold','Publisher','Genre']
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...
96,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General
100,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN

## Q.9 Scrape the details most watched tv series of all time from imdb.com.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

Name=[]
Year=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

name_tag=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
year_tag=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
genre_tag=driver.find_elements_by_xpath("//span[@class='genre']")
runtime_tag=driver.find_elements_by_xpath("//span[@class='runtime']")
rating_tag=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
votes_tag=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]")

for i in name_tag:
    name=i.text
    Name.append(name)
    
for i in year_tag:
    year=i.text
    Year.append(year)
    
for i in genre_tag:
    genre=i.text
    Genre.append(genre)

for i in runtime_tag:
    runtime=i.text
    Run_time.append(runtime)

for i in rating_tag:
    ratings=i.text
    Ratings.append(ratings)
    
for i in votes_tag:
    votes=i.text
    if votes != '|':
        Votes.append(votes)
        
df=pd.DataFrame({'Name':Name,
                'Year Span':Year,
                'Genre':Genre,
                'Run Time':Run_time,
                'Ratings':Ratings,
                'Votes':Votes})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,777,700"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"828,359"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,510"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,135"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,633"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,756"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,072"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,156"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,192"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,758"

## Q.10 Details of Datasets from UCI machine learning repositories

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu')

In [11]:
dataset=driver.find_elements_by_xpath("//span[@class='whitetext']/a")
for i in dataset:
    ref=i.text
    if ref=='View ALL Data Sets':
        i.click()
        
html=driver.page_source
df=pd.read_html(html)

In [12]:
df=df[5].iloc[1::2]
df.columns=['Name','Data Types','Default Task','Attribute Type','Instances','Attributes','Year']
df

,Name,Data Types,Default Task,Attribute Type,Instances,Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
3,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
5,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
7,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
9,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
1161,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,NaN,26737,4,2020
1163,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
1165,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
1167,in-vehicle coupon recommendation,Multivariate,Classification,NaN,12684,23,2020
1169,Gait Classification,Multivariate,Classification,Real,48,321,2020